#main-div{
    text-align: center;
    padding: 2rem;
}

#image-property{
    width:300px;
}
@media only screen and (max-width:375px)
{
 
    /* .headeroptions button{
        width:1rem;
    } */
    #image-property{
        width:200px;
    }
    
}