.example-card {
    max-width: 15rem;
    display: inline-block;
    margin:1rem;
}
  
.example-header-image {
    background-size: cover;
}

#card-image{
  height: 360px;
}

#card-header{
  height: 100px;
}


#card-content{
  height: 120px;
}