

<mat-card class="example-card" >
    <mat-card-header id="card-header" (click)=movieDetails()>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>{{movie.original_title}}</mat-card-title>
        <mat-card-subtitle>{{movie.popularity}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}" alt={{movie.origal_title}} id="card-image">
    <!-- <mat-card-content id='card-content'>
        <p>
        {{movie.overview}}
        </p>
    </mat-card-content> -->
    <mat-card-actions>
        <button mat-button *ngIf="flag1" (click)=deleteCollection()>UNLIKE</button>
        <button mat-button *ngIf="flag" (click)=addCollection()>LIKE</button>
        <button mat-button>COMMENT</button>
    </mat-card-actions>
</mat-card>
